LAB12 XML SCHEMA - 12 - 27.3.19/xml/xml programs/ag1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="employee" type="emptype"/>
<xsd:complexType name="emptype">
<xsd:group ref="empname"/>
<xsd:attributeGroup ref="depdesig"/>
</xsd:complexType>
<xsd:group name="empname">
<xsd:sequence>
<xsd:element name="firstname" type="xsd:string"/>
<xsd:element name="secondname" type="xsd:string"/>
</xsd:sequence>
</xsd:group>
<xsd:attributeGroup name="depdesig">
<xsd:attribute name="department" type="xsd:string" use="required"/>
<xsd:attribute name="designation" type="xsd:string"/>
</xsd:attributeGroup>
</xsd:schema>