LAB12 XML SCHEMA - 12 - 27.3.19/xml/xml programs/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
   <xs:element name="book" type="xs:string"></xs:element>
    <xs:element name="name" type="xs:string"></xs:element>
    <xs:element name="author" type="xs:string"></xs:element>
    <xs:element name="price" type="xs:float"></xs:element>
    <xs:element name="publisher" type="xs:string"></xs:element>
    <xs:simpleType name="nbook">
        <xs:restriction base="xs:string"></xs:restriction>
            </xs:simpleType>
    
    <xs:simpleType name="prbook">
        <xs:l></xs:l>
    </xs:simpleType>
</xs:schema>