LAB12 XML SCHEMA - 12 - 27.3.19/xml/xml programs/c1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="customer" type="custtype"/>
<xsd:complexType name="custtype">
<xsd:sequence>
<xsd:group ref="custname"/>
<xsd:element name="address" type="addtype"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="addtype">
<xsd:choice>
<xsd:element name="residence" type="xsd:string"/>
<xsd:element name="office" type="xsd:string"/>
</xsd:choice>
</xsd:complexType>
<xsd:group name="custname">
<xsd:sequence>
<xsd:element name="firstname" type="xsd:string"/>
<xsd:element name="secondname" type="xsd:string"/>
</xsd:sequence>
</xsd:group>
</xsd:schema>
