LAB12 XML SCHEMA - 12 - 27.3.19/xml/xml programs/g1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:group name="empname">
<xsd:sequence>
<xsd:element name="firstname" type="xsd:string"/>
<xsd:element name="secondname" type="xsd:string"/>
</xsd:sequence>
</xsd:group>
<xsd:element name="employee" type="emptype"/>
<xsd:complexType name="emptype">
<xsd:sequence>
<xsd:group ref="empname"/>
<xsd:element name="address" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
